<div class="dashboard" ng-controller="dashboardcontroller">
  
  <div class="row">
    <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Communities</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action"> 
          <div class="input-field col s12">
            <select>
              <option value="" disabled selected>Choose one or add a new one: </option>
              <option value="1" id="getoption">Option 1</option>
              <option value="2">Option 2</option>
            </select>
            <label>Communities</label>
          </div>
          <a class="waves-effect waves-light btn-small white black-text"><i class="material-icons left">search</i>Search</a>
          <button data-target="addcomm" class="btn modal-trigger red"><i class="material-icons right">add</i>Add</button>
<!--          <a class="waves-effect waves-light btn-small white black-text right" href="addcomm" class="btn modal-trigger"><i class="material-icons right">add</i>add</a>-->
          <div id="addcomm" class="modal">
            <div class="modal-content">
              <h4>Add a community: </h4>
              <div class="row">
         
                  <div class="input-field col s4 m4 l4">
                    <input type="text" id="commname" />
                    <label for="commname">Community Name: </label>
                    <p id="namecheck"></p>
                  </div>
                  
                  <div class="input-field col s4 m4 l4">
                    <input type="text" id="commcountry" />
                    <label for="commcountry">Community Country: </label>
                    <p id="countrycheck"></p>
                  </div>
                  
                  <div class="input-field col s4 m4 l4">
                    <input type="text" id="commregion" />
                    <label for="commregion">Community Region: </label>
                  </div>
                  
                </div>
              
   
            </div>
            <div class="modal-footer">
              <button class="btn red" ng-click="addcomm()"><i class="material-icons right">add</i>Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Statistics</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          
          <a class="waves-effect waves-light btn-small white black-text"><i class="material-icons left">search</i>Update</a>
          <a class="waves-effect waves-light btn-small white black-text right"><i class="material-icons right">add</i>add</a>

        </div>
      </div>
    </div>
    
    <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Survey</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn-small white black-text"><i class="material-icons left">search</i>Search</a>
          <a class="waves-effect waves-light btn-small white black-text right"><i class="material-icons right">add</i>add</a>
        </div>
      </div>
    </div>
  </div>
  
  <!--  Search bar-->
  <div class="row">
    <div class="input-field col s12 m10 l8 offset-l2 offset-m1">
    <input id="search" aria-label= "Search Bar" type="text" placeholder="Search" autofocus/>          
    </div>
  </div>
  
  <div class="Organizations">
    <table>
        <thead>
          <tr>
              <th data-field="id">Organization Name</th>
              <th data-field="name">Overall achievement</th>
              <th data-field="name">Trafficking/slavery awareness</th>
              <th data-field="name">Rights education</th>
              <th data-field="name">Improved household welfare</th>
          </tr>
        </thead>

        <tbody class="black-text">
          <tr>
            <td>Organization 1</td>
            <td><div class="radial" id="radial"></div></td>
            <td><div class="radial" id="radial2"></div></td>
            <td><div class="radial" id="radial3"></div></td>
            <td><div class="radial" id="radial4"></div></td>
          </tr>
          <tr>
            <td>Organization 2</td>
            <td><div class="radial" id="radial5"></div></td>
            <td><div class="radial" id="radial6"></div></td>
            <td><div class="radial" id="radial7"></div></td>
            <td><div class="radial" id="radial8"></div></td>
          </tr>
          <tr>
            <td>Organization 3</td>
            <td><div class="radial" id="radial9"></div></td>
            <td><div class="radial" id="radial10"></div></td>
            <td><div class="radial" id="radial11"></div></td>
            <td><div class="radial" id="radial12"></div></td>
          </tr>
          
        </tbody>
      </table>
  </div>

</div>
<script type="text/javascript" src="js/radialProgressLibrary.js"></script>
<script type="text/javascript" src="js/radial.js"></script>
<script type="text/javascript">
  
    $( document ).ready(function(){
      //Navigation
      $(".button-collapse").sideNav();
      $('select').material_select();
      $('.modal-trigger').leanModal();

    })
</script>