<div class="loginform" ng-controller="logincontroller">
  <div class="row">
      <div class="col s12 m6 l6 offset-l3 offset-m3">
        <div class="card">
          <div class="card-content black-text">
            <span class="card-title center-align">Free the slaves</span>
            <div class="row">
              <form class="col s12 m12 l12">
                
                <div class="row">
                  <div class="input-field col s12 m12 l12">
                    <input id="username" type="text" class="validate">
                    <label for="username">Username</label>
                  </div>
                </div>
               
                <div class="row">
                  <div class="input-field col s12 m12 l12">            
                    <input id="password" type="password">
                    <label for="password">Password</label>
                    <p id="pcheck"></p>
                  </div>
                </div>
                
                <a class="waves-effect waves-light btn red" id="signin" ng-click="checkpassword()">SIGN IN</a>
                
              </form>
            </div>
          </div>
        </div>    
      </div>
  </div>
</div>