html {
 font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

#pcheck {
  color: red;
}

/*Table*/

td {
    border: 1px solid #ddd;
    text-align: center;
}

th {
  
    text-align: center;
    border-bottom: 1px solid #eee;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    .downarrow {
        display: none;
    }

    .line {
        display: none;
    }

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        border-collapse: collapse;
        text-align: center;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
/*        padding-right: 10px;*/
        white-space: nowrap;
        border-collapse: collapse;
        text-align: center;
    }
}
#submitform {
  margin-left: auto;
  margin-right: auto;
}


h1 {
  font-weight: 300;

  font-size: 18px;
  margin: 25px 0px 25px 0px;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
}

h2 {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.dot {
  stroke: none;
}

.tooltip {
  background: #fff;
  color: #202020;
  border-radius: 5px;
  position: absolute;
  padding: 10px;
  pointer-events: none;
  text-align: left;
  opacity: .25;
}

.scatterplot {
  float: left;
}

.nutrition-label {
  float: left;
  margin: 0px 0px 0px 50px;
  width: 250px;
  height: 375px;
  background: #404040;
  color: #fff;
}

.wrap {
  width: 1050px;
  margin: 0 auto 0;
}

table {
  width: 85%;
  margin: 0 auto 0;
  text-align: left;
}

.arc path {
  stroke: #fff;
}

.radial {
    width: 160px;
    height: 160px;
    box-sizing: border-box;
    float: left;
    margin: 25px 0px 0px 90px;
}

.radial svg {
  width: 160px;
  height: 160px;
}

.radial .arc {
    stroke-weight: 0.1;
    fill: #f0a417;
}

.radial path {
  fill: #404040;
}

.radial rect {
  display: none;
}

.radial text {
  fill: black;
  text-anchor: middle;
}
